
<h1 class="font-bold text-blue-900 text-4xl text-center mb-4">Temperature & Humidity Dashboard</h1>
<div class="grid grid-rows-2">

  <div class="flex justify-around">
    <app-gauge [title]="Temperature" [labelStylee]="TemplabelStyle" [valuee]="temp"></app-gauge>
    <app-gauge [title]="Humidity" [labelStylee]="HumiditylabelStyle" [valuee]="humidity"></app-gauge>
  </div>

  <div style="display: block;" class="w-full">
    <canvas baseChart width="500" height="200"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      [plugins]="lineChartPlugins"
      >
    </canvas>
  </div>

</div>


<!-- <router-outlet></router-outlet> -->
